.app__about {
	position: relative;
}

.app__about-content {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.app__about-content__overlay {
	position: absolute;
	inset: 0;

	z-index: 0;
}

.app__about-content__overlay img {
	width: 391px;
	height: 415px;
	object-fit: contain;
}

.app__about-content {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.app__about-content__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	padding: 0 4rem;
}

.app__about-content__inner:first-child {
	align-items: flex-end;
}

.app__about-content__inner:first-child .heading__font-h2 {
	text-align: right;
}

.app__about-content__inner p {
	margin: 2rem 0;
	text-align: right;
}

.app__about-content__inner:last-child p {
	text-align: left;
}

.app__about-content__middle img {
	width: 84px;
}

@media screen and (min-width: 2000px) {
	.app__about-content__inner {
		padding: 0 8rem;
	}

	.app__about-content__inner p {
		margin: 4rem 0;
	}

	.app__about-content__middle img {
		width: 130px;
	}
}

@media screen and (max-width: 1150px) {
	.app__about-content__inner:first-child {
		padding-left: 0;
	}
	.app__about-content__inner:last-child {
		padding-right: 0;
	}
}

@media screen and (max-width: 900px) {
	.app__about-content {
		flex-direction: column;
	}

	.app__about-content__inner {
		padding: 0;
	}

	.app__about-content__middle {
		margin: 4rem 0;
		text-align: center;
	}
	.app__about-content__middle img {
		width: 50%;
	}
}

@media screen and (max-width: 768px) {
	.app__about-content__overlay img {
		width: 50%;
	}
}
