.section__padding {
	padding: 8rem 6rem;
}

.flex__center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.app__bg {
	background-image: url('./assets/bg.png');
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	background-attachment: fixed;
}

.app__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	min-height: 100vh;
}

.app__wrapper-info {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	width: 100%;
}

.app__wrapper-image {
	flex: 1;
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-left: 2rem;
}

.app__wrapper-image__reverse {
	justify-content: flex-start;
	margin-right: 2rem;
}

.app__wrapper-image img {
	width: 80%;
}

.app__button {
	background: var(--color-crimson);
	font-family: var(--font-base);
	color: var(--color-black);
	font-weight: 700;
	letter-spacing: 0.04em;
	font-size: 16px;
	line-height: 28px;
	padding: 0.5rem 2rem;
	border: 0;
	cursor: pointer;
	outline: none;

	transition: 0.5s ease;
}

.app__button:hover {
	background: var(--color-golden);
}

.heading__font-h1 {
	font-family: var(--font-base);
	color: var(--color-golden);
	font-weight: 700;
	font-size: 90px;
	line-height: 117px;
	letter-spacing: 0.04em;
	text-transform: capitalize;
}

.heading__font-h2 {
	font-family: var(--font-base);
	font-weight: 600;
	font-size: 64px;
	line-height: 83px;
	text-align: left;
	letter-spacing: 0.03em;
	text-transform: capitalize;

	color: var(--color-golden);
}

.subtitle__font {
	font-family: var(--font-base);
	color: var(--color-white);
	font-weight: 700;
	letter-spacing: 0.04em;
	text-transform: capitalize;
	font-feature-settings: 'tnum' on, 'lnum' on;
	line-height: 30px;
	font-size: 23px;
}

.p__font {
	font-family: var(--font-body);
	color: var(--color-white);
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 0.04em;
	text-transform: capitalize;
}

.app__subheading {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.spoon__img {
	width: 45px;
}

@media screen and (min-width: 2000px) {
	.heading__font-h1 {
		font-size: 150px;
		line-height: 210px;
	}

	.heading__font-h2 {
		font-size: 120px;
		line-height: 140px;
	}

	.app__button,
	.subtitle__font {
		font-size: 37px;
		line-height: 67px;
	}

	.p__font {
		font-size: 30px;
		line-height: 50px;
	}

	.spoon__img {
		width: 80px;
	}
}

@media screen and (max-width: 1150px) {
	.app__wrapper {
		flex-direction: column;
	}

	.app__wrapper-image {
		margin: 5rem 0 0 0;
	}

	.app__wrapper-image__reverse {
		margin: 0 0 5rem 0;
	}

	.app__wrapper-image img {
		width: 100%;
	}

	.section__padding {
		padding: 4rem;
	}

	.heading__font-h2 {
		font-size: 54px;
		line-height: 74px;
	}
}

@media screen and (max-width: 850px) {
	.section__padding {
		padding: 4rem;
	}
}

@media screen and (max-width: 650px) {
	.section__padding {
		padding: 4rem 2rem;
	}

	.subtitle__font {
		font-size: 21px;
	}

	.p__font {
		font-size: 14px;
	}
}

@media screen and (max-width: 450px) {
	.heading__font-h1 {
		font-size: 45px;
		line-height: 70px;
	}

	.subtitle__font {
		font-size: 19px;
	}

	.p__font {
		font-size: 12px;
	}
}
